@font-face {
  font-family: 'bootstrap-dtable-icons';
  src:  url('fonts/bootstrap-dtable-icons.eot?ls5eoz');
  src:  url('fonts/bootstrap-dtable-icons.eot?ls5eoz#iefix') format('embedded-opentype'),
    url('fonts/bootstrap-dtable-icons.ttf?ls5eoz') format('truetype'),
    url('fonts/bootstrap-dtable-icons.woff?ls5eoz') format('woff'),
    url('fonts/bootstrap-dtable-icons.svg?ls5eoz#bootstrap-dtable-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.bdticon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bootstrap-dtable-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.5rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-link>i{
  font-size: 1rem;
}
.bdticon-spin {
  -webkit-animation: bdticon_rotation 2s infinite linear;
}

@-webkit-keyframes bdticon_rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.bdticon-alarm:before {
  content: "\e904";
}
.bdticon-alarm-fill:before {
  content: "\e905";
}
.bdticon-alert-circle:before {
  content: "\e900";
}
.bdticon-alert-circle-fill:before {
  content: "\e901";
}
.bdticon-alert-octagon:before {
  content: "\e902";
}
.bdticon-alert-octagon-fill:before {
  content: "\e903";
}
.bdticon-alert-square:before {
  content: "\e906";
}
.bdticon-alert-square-fill:before {
  content: "\e907";
}
.bdticon-alert-triangle:before {
  content: "\e908";
}
.bdticon-alert-triangle-fill:before {
  content: "\e909";
}
.bdticon-archive:before {
  content: "\e90a";
}
.bdticon-archive-fill:before {
  content: "\e90b";
}
.bdticon-arrow-bar-bottom:before {
  content: "\e90c";
}
.bdticon-arrow-bar-left:before {
  content: "\e90d";
}
.bdticon-arrow-bar-right:before {
  content: "\e90e";
}
.bdticon-arrow-bar-up:before {
  content: "\e90f";
}
.bdticon-arrow-clockwise:before {
  content: "\e910";
}
.bdticon-arrow-counterclockwise:before {
  content: "\e911";
}
.bdticon-arrow-down:before {
  content: "\e912";
}
.bdticon-arrow-down-left:before {
  content: "\e913";
}
.bdticon-arrow-down-right:before {
  content: "\e914";
}
.bdticon-arrow-down-short:before {
  content: "\e915";
}
.bdticon-arrow-left:before {
  content: "\e916";
}
.bdticon-arrow-left-right:before {
  content: "\e917";
}
.bdticon-arrow-left-short:before {
  content: "\e918";
}
.bdticon-arrow-repeat:before {
  content: "\e919";
}
.bdticon-arrow-right:before {
  content: "\e91a";
}
.bdticon-arrow-right-short:before {
  content: "\e91b";
}
.bdticon-arrows-angle-contract:before {
  content: "\e91c";
}
.bdticon-arrows-angle-expand:before {
  content: "\e91d";
}
.bdticon-arrows-collapse:before {
  content: "\e91e";
}
.bdticon-arrows-expand:before {
  content: "\e91f";
}
.bdticon-arrows-fullscreen:before {
  content: "\e920";
}
.bdticon-arrow-up:before {
  content: "\e921";
}
.bdticon-arrow-up-down:before {
  content: "\e922";
}
.bdticon-arrow-up-left:before {
  content: "\e923";
}
.bdticon-arrow-up-right:before {
  content: "\e924";
}
.bdticon-arrow-up-short:before {
  content: "\e925";
}
.bdticon-at:before {
  content: "\e926";
}
.bdticon-award:before {
  content: "\e927";
}
.bdticon-backspace:before {
  content: "\e928";
}
.bdticon-backspace-fill:before {
  content: "\e929";
}
.bdticon-backspace-reverse:before {
  content: "\e92a";
}
.bdticon-backspace-reverse-fill:before {
  content: "\e92b";
}
.bdticon-bar-chart:before {
  content: "\e92c";
}
.bdticon-bar-chart-fill:before {
  content: "\e92d";
}
.bdticon-battery:before {
  content: "\e92e";
}
.bdticon-battery-charging:before {
  content: "\e92f";
}
.bdticon-battery-full:before {
  content: "\e930";
}
.bdticon-bell:before {
  content: "\e931";
}
.bdticon-bell-fill:before {
  content: "\e932";
}
.bdticon-blockquote-left:before {
  content: "\e933";
}
.bdticon-blockquote-right:before {
  content: "\e934";
}
.bdticon-book:before {
  content: "\e935";
}
.bdticon-book-half-fill:before {
  content: "\e936";
}
.bdticon-bookmark:before {
  content: "\e937";
}
.bdticon-bookmark-fill:before {
  content: "\e938";
}
.bdticon-bootstrap:before {
  content: "\e939";
}
.bdticon-bootstrap-fill:before {
  content: "\e93a";
}
.bdticon-bootstrap-reboot:before {
  content: "\e93b";
}
.bdticon-box-arrow-bottom-left:before {
  content: "\e93c";
}
.bdticon-box-arrow-bottom-right:before {
  content: "\e93d";
}
.bdticon-box-arrow-down:before {
  content: "\e93e";
}
.bdticon-box-arrow-left:before {
  content: "\e93f";
}
.bdticon-box-arrow-right:before {
  content: "\e940";
}
.bdticon-box-arrow-up:before {
  content: "\e941";
}
.bdticon-box-arrow-up-left:before {
  content: "\e942";
}
.bdticon-box-arrow-up-right:before {
  content: "\e943";
}
.bdticon-braces:before {
  content: "\e944";
}
.bdticon-brightness-fill-high:before {
  content: "\e945";
}
.bdticon-brightness-fill-low:before {
  content: "\e946";
}
.bdticon-brightness-high:before {
  content: "\e947";
}
.bdticon-brightness-low:before {
  content: "\e948";
}
.bdticon-brush:before {
  content: "\e949";
}
.bdticon-bucket:before {
  content: "\e94a";
}
.bdticon-bucket-fill:before {
  content: "\e94b";
}
.bdticon-building:before {
  content: "\e94c";
}
.bdticon-bullseye:before {
  content: "\e94d";
}
.bdticon-calendar:before {
  content: "\e94e";
}
.bdticon-calendar-fill:before {
  content: "\e94f";
}
.bdticon-camera:before {
  content: "\e950";
}
.bdticon-camera-video:before {
  content: "\e951";
}
.bdticon-camera-video-fill:before {
  content: "\e952";
}
.bdticon-capslock:before {
  content: "\e953";
}
.bdticon-capslock-fill:before {
  content: "\e954";
}
.bdticon-chat:before {
  content: "\e955";
}
.bdticon-chat-fill:before {
  content: "\e956";
}
.bdticon-check:before {
  content: "\e957";
}
.bdticon-check-box:before {
  content: "\e958";
}
.bdticon-check-circle:before {
  content: "\e959";
}
.bdticon-chevron-compact-down:before {
  content: "\e95a";
}
.bdticon-chevron-compact-left:before {
  content: "\e95b";
}
.bdticon-chevron-compact-right:before {
  content: "\e95c";
}
.bdticon-chevron-compact-up:before {
  content: "\e95d";
}
.bdticon-chevron-down:before {
  content: "\e95e";
}
.bdticon-chevron-left:before {
  content: "\e95f";
}
.bdticon-chevron-right:before {
  content: "\e960";
}
.bdticon-chevron-up:before {
  content: "\e961";
}
.bdticon-circle:before {
  content: "\e962";
}
.bdticon-circle-fill:before {
  content: "\e963";
}
.bdticon-circle-half:before {
  content: "\e964";
}
.bdticon-circle-slash:before {
  content: "\e965";
}
.bdticon-clock:before {
  content: "\e966";
}
.bdticon-clock-fill:before {
  content: "\e967";
}
.bdticon-cloud:before {
  content: "\e968";
}
.bdticon-cloud-download:before {
  content: "\e969";
}
.bdticon-cloud-fill:before {
  content: "\e96a";
}
.bdticon-cloud-upload:before {
  content: "\e96b";
}
.bdticon-code:before {
  content: "\e96c";
}
.bdticon-code-slash:before {
  content: "\e96d";
}
.bdticon-columns:before {
  content: "\e96e";
}
.bdticon-columns-gutters:before {
  content: "\e96f";
}
.bdticon-command:before {
  content: "\e970";
}
.bdticon-compass:before {
  content: "\e971";
}
.bdticon-cone:before {
  content: "\e972";
}
.bdticon-cone-striped:before {
  content: "\e973";
}
.bdticon-controller:before {
  content: "\e974";
}
.bdticon-credit-card:before {
  content: "\e975";
}
.bdticon-cursor:before {
  content: "\e976";
}
.bdticon-cursor-fill:before {
  content: "\e977";
}
.bdticon-dash:before {
  content: "\e978";
}
.bdticon-diamond:before {
  content: "\e979";
}
.bdticon-diamond-half:before {
  content: "\e97a";
}
.bdticon-display:before {
  content: "\e97b";
}
.bdticon-display-fill:before {
  content: "\e97c";
}
.bdticon-document:before {
  content: "\e97d";
}
.bdticon-document-code:before {
  content: "\e97e";
}
.bdticon-document-diff:before {
  content: "\e97f";
}
.bdticon-document-richtext:before {
  content: "\e980";
}
.bdticon-documents:before {
  content: "\e981";
}
.bdticon-documents-alt:before {
  content: "\e982";
}
.bdticon-document-spreadsheet:before {
  content: "\e983";
}
.bdticon-document-text:before {
  content: "\e984";
}
.bdticon-dot:before {
  content: "\e985";
}
.bdticon-download:before {
  content: "\e986";
}
.bdticon-egg-fried:before {
  content: "\e987";
}
.bdticon-eject:before {
  content: "\e988";
}
.bdticon-eject-fill:before {
  content: "\e989";
}
.bdticon-envelope:before {
  content: "\e98a";
}
.bdticon-envelope-fill:before {
  content: "\e98b";
}
.bdticon-envelope-open:before {
  content: "\e98c";
}
.bdticon-envelope-open-fill:before {
  content: "\e98d";
}
.bdticon-eye:before {
  content: "\e98e";
}
.bdticon-eye-fill:before {
  content: "\e98f";
}
.bdticon-eye-slash:before {
  content: "\e990";
}
.bdticon-eye-slash-fill:before {
  content: "\e991";
}
.bdticon-filter:before {
  content: "\e992";
}
.bdticon-flag:before {
  content: "\e993";
}
.bdticon-flag-fill:before {
  content: "\e994";
}
.bdticon-folder:before {
  content: "\e995";
}
.bdticon-folder-fill:before {
  content: "\e996";
}
.bdticon-folder-symlink:before {
  content: "\e997";
}
.bdticon-folder-symlink-fill:before {
  content: "\e998";
}
.bdticon-fonts:before {
  content: "\e999";
}
.bdticon-forward:before {
  content: "\e99a";
}
.bdticon-forward-fill:before {
  content: "\e99b";
}
.bdticon-gear:before {
  content: "\e99c";
}
.bdticon-gear-fill:before {
  content: "\e99d";
}
.bdticon-gear-wide:before {
  content: "\e99e";
}
.bdticon-gear-wide-connected:before {
  content: "\e99f";
}
.bdticon-geo:before {
  content: "\e9a0";
}
.bdticon-graph-down:before {
  content: "\e9a1";
}
.bdticon-graph-up:before {
  content: "\e9a2";
}
.bdticon-grid:before {
  content: "\e9a3";
}
.bdticon-grid-fill:before {
  content: "\e9a4";
}
.bdticon-hammer:before {
  content: "\e9a5";
}
.bdticon-hash:before {
  content: "\e9a6";
}
.bdticon-heart:before {
  content: "\e9a7";
}
.bdticon-heart-fill:before {
  content: "\e9a8";
}
.bdticon-house:before {
  content: "\e9a9";
}
.bdticon-house-fill:before {
  content: "\e9aa";
}
.bdticon-image:before {
  content: "\e9ab";
}
.bdticon-image-alt:before {
  content: "\e9ac";
}
.bdticon-image-fill:before {
  content: "\e9ad";
}
.bdticon-images:before {
  content: "\e9ae";
}
.bdticon-inbox:before {
  content: "\e9af";
}
.bdticon-inboxes:before {
  content: "\e9b0";
}
.bdticon-inboxes-fill:before {
  content: "\e9b1";
}
.bdticon-inbox-fill:before {
  content: "\e9b2";
}
.bdticon-info:before {
  content: "\e9b3";
}
.bdticon-info-fill:before {
  content: "\e9b4";
}
.bdticon-info-square:before {
  content: "\e9b5";
}
.bdticon-info-square-fill:before {
  content: "\e9b6";
}
.bdticon-justify:before {
  content: "\e9b7";
}
.bdticon-justify-left:before {
  content: "\e9b8";
}
.bdticon-justify-right:before {
  content: "\e9b9";
}
.bdticon-kanban:before {
  content: "\e9ba";
}
.bdticon-kanban-fill:before {
  content: "\e9bb";
}
.bdticon-laptop:before {
  content: "\e9bc";
}
.bdticon-layout-sidebar:before {
  content: "\e9bd";
}
.bdticon-layout-sidebar-reverse:before {
  content: "\e9be";
}
.bdticon-layout-split:before {
  content: "\e9bf";
}
.bdticon-list:before {
  content: "\e9c0";
}
.bdticon-list-check:before {
  content: "\e9c1";
}
.bdticon-list-ol:before {
  content: "\e9c2";
}
.bdticon-list-task:before {
  content: "\e9c3";
}
.bdticon-list-ul:before {
  content: "\e9c4";
}
.bdticon-lock:before {
  content: "\e9c5";
}
.bdticon-lock-fill:before {
  content: "\e9c6";
}
.bdticon-map:before {
  content: "\e9c7";
}
.bdticon-mic:before {
  content: "\e9c8";
}
.bdticon-moon:before {
  content: "\e9c9";
}
.bdticon-music-player:before {
  content: "\e9ca";
}
.bdticon-music-player-fill:before {
  content: "\e9cb";
}
.bdticon-option:before {
  content: "\e9cc";
}
.bdticon-outlet:before {
  content: "\e9cd";
}
.bdticon-pause:before {
  content: "\e9ce";
}
.bdticon-pause-fill:before {
  content: "\e9cf";
}
.bdticon-pen:before {
  content: "\e9d0";
}
.bdticon-pencil:before {
  content: "\e9d1";
}
.bdticon-people:before {
  content: "\e9d2";
}
.bdticon-people-fill:before {
  content: "\e9d3";
}
.bdticon-person:before {
  content: "\e9d4";
}
.bdticon-person-fill:before {
  content: "\e9d5";
}
.bdticon-phone:before {
  content: "\e9d6";
}
.bdticon-phone-landscape:before {
  content: "\e9d7";
}
.bdticon-pie-chart:before {
  content: "\e9d8";
}
.bdticon-pie-chart-fill:before {
  content: "\e9d9";
}
.bdticon-play:before {
  content: "\e9da";
}
.bdticon-play-fill:before {
  content: "\e9db";
}
.bdticon-plug:before {
  content: "\e9dc";
}
.bdticon-plus:before {
  content: "\e9dd";
}
.bdticon-power:before {
  content: "\e9de";
}
.bdticon-question:before {
  content: "\e9df";
}
.bdticon-question-fill:before {
  content: "\e9e0";
}
.bdticon-question-square:before {
  content: "\e9e1";
}
.bdticon-question-square-fill:before {
  content: "\e9e2";
}
.bdticon-reply:before {
  content: "\e9e3";
}
.bdticon-reply-all:before {
  content: "\e9e4";
}
.bdticon-reply-all-fill:before {
  content: "\e9e5";
}
.bdticon-reply-fill:before {
  content: "\e9e6";
}
.bdticon-screwdriver:before {
  content: "\e9e7";
}
.bdticon-search:before {
  content: "\e9e8";
}
.bdticon-shield:before {
  content: "\e9e9";
}
.bdticon-shield-fill:before {
  content: "\e9ea";
}
.bdticon-shield-lock:before {
  content: "\e9eb";
}
.bdticon-shield-lock-fill:before {
  content: "\e9ec";
}
.bdticon-shield-shaded:before {
  content: "\e9ed";
}
.bdticon-shift:before {
  content: "\e9ee";
}
.bdticon-shift-fill:before {
  content: "\e9ef";
}
.bdticon-skip-backward:before {
  content: "\e9f0";
}
.bdticon-skip-backward-fill:before {
  content: "\e9f1";
}
.bdticon-skip-end:before {
  content: "\e9f2";
}
.bdticon-skip-end-fill:before {
  content: "\e9f3";
}
.bdticon-skip-forward:before {
  content: "\e9f4";
}
.bdticon-skip-forward-fill:before {
  content: "\e9f5";
}
.bdticon-skip-start:before {
  content: "\e9f6";
}
.bdticon-skip-start-fill:before {
  content: "\e9f7";
}
.bdticon-speaker:before {
  content: "\e9f8";
}
.bdticon-square:before {
  content: "\e9f9";
}
.bdticon-square-fill:before {
  content: "\e9fa";
}
.bdticon-square-half:before {
  content: "\e9fb";
}
.bdticon-star:before {
  content: "\e9fc";
}
.bdticon-star-fill:before {
  content: "\e9fd";
}
.bdticon-star-half:before {
  content: "\e9fe";
}
.bdticon-stop:before {
  content: "\e9ff";
}
.bdticon-stop-fill:before {
  content: "\ea00";
}
.bdticon-stopwatch:before {
  content: "\ea01";
}
.bdticon-stopwatch-fill:before {
  content: "\ea02";
}
.bdticon-sun:before {
  content: "\ea03";
}
.bdticon-table:before {
  content: "\ea04";
}
.bdticon-tablet:before {
  content: "\ea05";
}
.bdticon-tablet-landscape:before {
  content: "\ea06";
}
.bdticon-tag:before {
  content: "\ea07";
}
.bdticon-tag-fill:before {
  content: "\ea08";
}
.bdticon-terminal:before {
  content: "\ea09";
}
.bdticon-terminal-fill:before {
  content: "\ea0a";
}
.bdticon-text-center:before {
  content: "\ea0b";
}
.bdticon-text-indent-left:before {
  content: "\ea0c";
}
.bdticon-text-indent-right:before {
  content: "\ea0d";
}
.bdticon-text-left:before {
  content: "\ea0e";
}
.bdticon-text-right:before {
  content: "\ea0f";
}
.bdticon-three-dots:before {
  content: "\ea10";
}
.bdticon-three-dots-vertical:before {
  content: "\ea11";
}
.bdticon-toggle-off:before {
  content: "\ea12";
}
.bdticon-toggle-on:before {
  content: "\ea13";
}
.bdticon-toggles:before {
  content: "\ea14";
}
.bdticon-tools:before {
  content: "\ea15";
}
.bdticon-trash:before {
  content: "\ea16";
}
.bdticon-trash-fill:before {
  content: "\ea17";
}
.bdticon-triangle:before {
  content: "\ea18";
}
.bdticon-triangle-fill:before {
  content: "\ea19";
}
.bdticon-triangle-half:before {
  content: "\ea1a";
}
.bdticon-trophy:before {
  content: "\ea1b";
}
.bdticon-tv:before {
  content: "\ea1c";
}
.bdticon-tv-fill:before {
  content: "\ea1d";
}
.bdticon-type:before {
  content: "\ea1e";
}
.bdticon-type-bold:before {
  content: "\ea1f";
}
.bdticon-type-h1:before {
  content: "\ea20";
}
.bdticon-type-h2:before {
  content: "\ea21";
}
.bdticon-type-h3:before {
  content: "\ea22";
}
.bdticon-type-italic:before {
  content: "\ea23";
}
.bdticon-type-strikethrough:before {
  content: "\ea24";
}
.bdticon-type-underline:before {
  content: "\ea25";
}
.bdticon-unlock:before {
  content: "\ea26";
}
.bdticon-unlock-fill:before {
  content: "\ea27";
}
.bdticon-upload:before {
  content: "\ea28";
}
.bdticon-volume-down:before {
  content: "\ea29";
}
.bdticon-volume-down-fill:before {
  content: "\ea2a";
}
.bdticon-volume-mute:before {
  content: "\ea2b";
}
.bdticon-volume-mute-fill:before {
  content: "\ea2c";
}
.bdticon-volume-up:before {
  content: "\ea2d";
}
.bdticon-volume-up-fill:before {
  content: "\ea2e";
}
.bdticon-wallet:before {
  content: "\ea2f";
}
.bdticon-watch:before {
  content: "\ea30";
}
.bdticon-wifi:before {
  content: "\ea31";
}
.bdticon-window:before {
  content: "\ea32";
}
.bdticon-wrench:before {
  content: "\ea33";
}
.bdticon-x:before {
  content: "\ea34";
}
.bdticon-x-circle:before {
  content: "\ea35";
}
.bdticon-x-circle-fill:before {
  content: "\ea36";
}
.bdticon-x-octagon:before {
  content: "\ea37";
}
.bdticon-x-octagon-fill:before {
  content: "\ea38";
}
.bdticon-x-square:before {
  content: "\ea39";
}
.bdticon-x-square-fill:before {
  content: "\ea3a";
}
